<ng-template #myDialog>
  <h2 class="text-center" matDialogTitle>ASYILDIZ YETKİLİ MÜESSESE A.Ş.
    (ATAŞEHİR - MERKEZ)</h2>
  <hr>

  <div class="contact-card">
    <div class="title text-center">İletişim </div>
    <a href="tel:+90216 574 44 00" class="link">Telefon: 0216 574 44 00 (pbx)</a>
    <a href="tel:+90532 314 89 98" class="link">Telefon: 0532 314 89 98</a>
    <a class="link">Açık Adres Kayışdağı Cad. No:75/A
      Küçükbakkalköy-Ataşehir/İST</a>
  </div>
  <mat-dialog-content>
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d188.2569165934338!2d29.11344261165246!3d40.979057514564644!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14cac63ef07e2f43%3A0x1ece6984b8087aae!2sAsyildiz%20Doviz%20Ve%20Altin!5e0!3m2!1str!2str!4v1660380285574!5m2!1str!2str"
      style="width:100% ;" height="300"></iframe><br> <br>
    <section class="gallery">
      <div class="carousel">
        <input type="radio" id="image1" name="gallery-control" checked>
        <input type="radio" id="image2" name="gallery-control">
        <input type="radio" id="image3" name="gallery-control">
        <input type="radio" id="image4" name="gallery-control">
        <input type="checkbox" id="fullscreen" name="gallery-fullscreen-control" />
        <div class="wrap">
          <figure>
            <label for="fullscreen">
              <img src="../../../assets/images/ourstores-image/1.jpg" alt="image1" />
            </label>
          </figure>
          <figure>
            <label for="fullscreen">
              <img src="../../../assets/images/ourstores-image/1-1.jpg" alt="image2" />
            </label>
          </figure>
          <figure>
            <label for="fullscreen">
              <img src="../../../assets/images/ourstores-image/1-2.jpg" alt="image3" />
            </label>
          </figure>
        </div>
        <div class="thumbnails">
          <div class="slider">
            <div class="indicator"></div>
          </div>
          <label for="image1" class="thumb"
            style="background-image: url('../../../assets/images/ourstores-image/1.jpg')"></label>
          <label for="image2" class="thumb"
            style="background-image: url('../../../assets/images/ourstores-image/1-1.jpg')"></label>
          <label for="image3" class="thumb"
            style="background-image: url('../../../assets/images/ourstores-image/1-2.jpg')"></label>
        </div>
      </div>
    </section>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-button matDialogClose color="primary">İptal</button>
  </mat-dialog-actions>
</ng-template>
<ng-template #viaport>
  <h2 class="text-center" matDialogTitle>Asyıldız Yetkili Müessese A.Ş. (VIAPORT AVM.)</h2>
  <hr>

  <div class="contact-card">
    <div class="title text-center">İletişim </div>
    <a href="tel:+90216696129697" class="link">Telefon: 0216 696 12 96-97 (pbx)</a>
    <a href="tel:+90530 507 82 25" class="link">Telefon: 0530 507 82 25</a>
    <a class="link">Dedepaşa Cad. Yenişehir Mah. No:19 Viaport avm C blok 19/281 No:19/C1 5A
      Pendik / İstanbul</a>
  </div>
  <mat-dialog-content>
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d24111.82704936521!2d29.32355!3d40.938141!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x67676050d69b82fc!2sViaport%20Asia%20Outlet%20Al%C4%B1%C5%9Fveri%C5%9F%20Merkezi!5e0!3m2!1str!2str!4v1660581400405!5m2!1str!2str"
      style="width:100% ;" height="300"></iframe><br> <br>
    <section class="gallery">
      <div class="carousel">
        <input type="radio" id="image1" name="gallery-control" checked>
        <input type="radio" id="image2" name="gallery-control">
        <input type="radio" id="image3" name="gallery-control">
        <input type="radio" id="image4" name="gallery-control">
        <input type="checkbox" id="fullscreen" name="gallery-fullscreen-control" />
        <div class="wrap">
          <figure>
            <label for="fullscreen">
              <img src="../../../assets/images/ourstores-image/2-1.jpg" alt="image1" />
            </label>
          </figure>
          <figure>
            <label for="fullscreen">
              <img src="../../../assets/images/ourstores-image/2-2.jpg" alt="image2" />
            </label>
          </figure>
          <figure>
            <label for="fullscreen">
              <img src="../../../assets/images/ourstores-image/2-3.jpg" alt="image3" />
            </label>
          </figure>
          <figure>
            <label for="fullscreen">
              <img src="../../../assets/images/ourstores-image/2-4.jpg" alt="image4" />
            </label>
          </figure>
        </div>
        <div class="thumbnails">
          <div class="slider">
            <div class="indicator"></div>
          </div>
          <label for="image1" class="thumb"
            style="background-image: url('../../../assets/images/ourstores-image/2-1.jpg')"></label>
          <label for="image2" class="thumb"
            style="background-image: url('../../../assets/images/ourstores-image/2-2.jpg')"></label>
          <label for="image3" class="thumb"
            style="background-image: url('../../../assets/images/ourstores-image/2-3.jpg')"></label>
          <label for="image4" class="thumb"
            style="background-image: url('../../../assets/images/ourstores-image/2-4.jpg')"></label>
        </div>
      </div>
    </section>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-button matDialogClose color="primary">İptal</button>
  </mat-dialog-actions>
</ng-template>
<ng-template #metropol>
  <h2 class="text-center" matDialogTitle>Asyıldız Yetkili Müessese A.Ş. (METROPOL AVM.) </h2>
  <hr>

  <div class="contact-card">
    <div class="title text-center">İletişim </div>
    <a href="tel:+902166294044" class="link">Telefon: 0216 629 40 44 (pbx)</a>
    <a href="tel:+90532 320 71 95" class="link">Telefon: 0532 320 71 95</a>
    <a class="link">Atatürk Mah. Ertuğrul Gazi Cad. No:2Z D12 Blok Kat B2 001/002
      Ataşehir / İstanbul</a>
  </div>
  <mat-dialog-content>
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d24091.43476036036!2d29.122676!3d40.993975!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x157b6a54b6638981!2zTWV0cm9wb2wgxLBzdGFuYnVsIEFsxLHFn3ZlcmnFnyBNZXJrZXpp!5e0!3m2!1str!2str!4v1660582030507!5m2!1str!2str%22"
      style="width:100% ;" height="300"></iframe><br> <br>
    <section class="gallery">
      <div class="carousel">
        <input type="radio" id="image1" name="gallery-control" checked>
        <input type="radio" id="image2" name="gallery-control">
        <input type="radio" id="image3" name="gallery-control">
        <input type="radio" id="image4" name="gallery-control">
        <input type="checkbox" id="fullscreen" name="gallery-fullscreen-control" />
        <div class="wrap">
          <figure>
            <label for="fullscreen">
              <img src="../../../assets/images/ourstores-image/3-1.jpg" alt="image1" />
            </label>
          </figure>
          <figure>
            <label for="fullscreen">
              <img src="../../../assets/images/ourstores-image/3-2.jpg" alt="image2" />
            </label>
          </figure>
          <figure>
            <label for="fullscreen">
              <img src="../../../assets/images/ourstores-image/3-3.jpg" alt="image3" />
            </label>
          </figure>
          <figure>
            <label for="fullscreen">
              <img src="../../../assets/images/ourstores-image/3-4.jpg" alt="image4" />
            </label>
          </figure>
          <figure>
            <label for="fullscreen">
              <img src="../../../assets/images/ourstores-image/3-5.jpg" alt="image5" />
            </label>
          </figure>
        </div>
        <div class="thumbnails">
          <div class="slider">
            <div class="indicator"></div>
          </div>
          <label for="image1" class="thumb"
            style="background-image: url('../../../assets/images/ourstores-image/2-1.jpg')"></label>
          <label for="image2" class="thumb"
            style="background-image: url('../../../assets/images/ourstores-image/2-2.jpg')"></label>
          <label for="image3" class="thumb"
            style="background-image: url('../../../assets/images/ourstores-image/2-3.jpg')"></label>
          <label for="image4" class="thumb"
            style="background-image: url('../../../assets/images/ourstores-image/2-4.jpg')"></label>
          <label for="image5" class="thumb"
            style="background-image: url('../../../assets/images/ourstores-image/2-5.jpg')"></label>
        </div>
      </div>
    </section>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-button matDialogClose color="primary">İptal</button>
  </mat-dialog-actions>
</ng-template>
<ng-template #buyka>
  <h2 class="text-center" matDialogTitle>Özbıyık Sınırlı Yetkili Müessese A.Ş (BUYAKA AVM.) </h2>
  <hr>

  <div class="contact-card">
    <div class="title text-center">İletişim </div>
    <a href="tel:+90216290771617" class="link">Telefon: 0216 290 77 16-17 (pbx) </a>
    <a href="tel:+90533 924 21 25" class="link">Telefon: 0533 924 21 25</a>
    <a class="link">Fatih Sultan Mehmet Mahallesi Balkan Caddesi No:56 B 2-1 Ümraniye / İstanbul</a>
  </div>

  <mat-dialog-actions>
    <button mat-button matDialogClose color="primary">İptal</button>
  </mat-dialog-actions>
</ng-template>
<ng-template #brandium>
  <h2 class="text-center" matDialogTitle>Asyıldız Mücevherat Tic. Ltd. Şti. (BRANDİUM AVM.) </h2>
  <hr>

  <div class="contact-card">
    <div class="title text-center">İletişim </div>
    <a href="tel:+902165737677" class="link">Telefon: 0216 573 76 77</a>
    <a href="tel:+90537 887 00 87" class="link">Telefon: 0537 887 00 87</a>
    <a class="link">Dudullu yolu Cad. Erenköy Gümrük Müd. Karşısı No: Z08
      Ataşehir / İstanbul</a>
  </div>
  <mat-dialog-content>
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2080.5613748472356!2d29.13082644544696!3d40.98250528124024!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14cacf5577f613a7%3A0x5b59583e9e6b62d7!2sBrandium%20Avm!5e0!3m2!1str!2str!4v1660583159616!5m2!1str!2str"
      style="width:100% ;" height="300"></iframe><br> <br>
    <section class="gallery">
      <div class="carousel">
        <input type="radio" id="image1" name="gallery-control" checked>
        <input type="radio" id="image2" name="gallery-control">
        <input type="radio" id="image3" name="gallery-control">
        <input type="radio" id="image4" name="gallery-control">
        <!-- <input type="radio" id="image5" name="gallery-control">
        <input type="radio" id="image6" name="gallery-control">
        <input type="radio" id="image7" name="gallery-control"> -->
        <input type="checkbox" id="fullscreen" name="gallery-fullscreen-control" />
        <div class="wrap">

          <figure>
            <label for="fullscreen">
              <img src="../../../assets/images/ourstores-image/5-2.jpg" alt="image1" />
            </label>
          </figure>
          <figure>
            <label for="fullscreen">
              <img src="../../../assets/images/ourstores-image/5-3.jpg" alt="image2" />
            </label>
          </figure>
          <figure>
            <label for="fullscreen">
              <img src="../../../assets/images/ourstores-image/5-4.jpg" alt="image3" />
            </label>
          </figure>
          <figure>
            <label for="fullscreen">
              <img src="../../../assets/images/ourstores-image/5-5.jpg" alt="image4" />
            </label>
          </figure>
          <!-- <figure>
            <label for="fullscreen">
              <img src="../../../assets/images/ourstores-image/5-6.jpg" alt="image5" />
            </label>
          </figure>
          <figure>
            <label for="fullscreen">
              <img src="../../../assets/images/ourstores-image/5-7.jpg" alt="image6" />
            </label>
          </figure>
          <figure>
            <label for="fullscreen">
              <img src="../../../assets/images/ourstores-image/5-8.jpg" alt="image7" />
            </label>
          </figure> -->
        </div>
        <div class="thumbnails">
          <div class="slider">
            <div class="indicator"></div>
          </div>
          <label for="image1" class="thumb"
            style="background-image: url('../../../assets/images/ourstores-image/5-2.jpg')"></label>
          <label for="image2" class="thumb"
            style="background-image: url('../../../assets/images/ourstores-image/5-3.jpg')"></label>
          <label for="image3" class="thumb"
            style="background-image: url('../../../assets/images/ourstores-image/5-4.jpg')"></label>
          <label for="image4" class="thumb"
            style="background-image: url('../../../assets/images/ourstores-image/5-5.jpg')"></label>
          <!-- <label for="image5" class="thumb"
            style="background-image: url('../../../assets/images/ourstores-image/5-6.jpg')"></label>
            <label for="image6" class="thumb"
            style="background-image: url('../../../assets/images/ourstores-image/5-7.jpg')"></label>
            <label for="image7" class="thumb"
            style="background-image: url('../../../assets/images/ourstores-image/5-8.jpg')"></label> -->
        </div>
      </div>
    </section>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-button matDialogClose color="primary">İptal</button>
  </mat-dialog-actions>
</ng-template>
<ng-template #kocak>
  <h2 class="text-center" matDialogTitle>KOÇAK GOLD (BUYAKA AVM.)</h2>
  <hr>

  <div class="contact-card">
    <div class="title text-center">İletişim </div>
    <a href="tel:+90216 290 77 94" class="link">Telefon: 0216 290 77 94</a>
    <a href="tel:+90532 151 15 63" class="link">Telefon: 0532 151 15 63</a>
    <a class="link">Fatih Sultan Mehmet Mah. Balkan Cad. No:56/3 Buyaka Avm Ümraniye/İST.</a>
  </div>
  <!-- <mat-dialog-content>
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3009.9430843311425!2d29.125384115719182!3d41.02650112625162!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14cac8d83dea0b9d%3A0xaff5a1758d58bfdf!2sBuyaka%20AVM!5e0!3m2!1str!2str!4v1660628817982!5m2!1str!2str"
      style="width:100% ;" height="300"></iframe><br> <br>
    <section class="gallery">
      <div class="carousel">
        <input type="radio" id="image1" name="gallery-control" checked>
        <input type="radio" id="image2" name="gallery-control">
        <input type="radio" id="image3" name="gallery-control">
        <input type="radio" id="image4" name="gallery-control">
        <input type="checkbox" id="fullscreen" name="gallery-fullscreen-control" />
        <div class="wrap">
          <figure>
            <label for="fullscreen">
              <img src="../../../assets/images/ourstores-image/2-1.jpg" alt="image1" />
            </label>
          </figure>
          <figure>
            <label for="fullscreen">
              <img src="../../../assets/images/ourstores-image/2-2.jpg" alt="image2" />
            </label>
          </figure>
          <figure>
            <label for="fullscreen">
              <img src="../../../assets/images/ourstores-image/2-3.jpg" alt="image3" />
            </label>
          </figure>
          <figure>
            <label for="fullscreen">
              <img src="../../../assets/images/ourstores-image/2-4.jpg" alt="image4" />
            </label>
          </figure>
        </div>
        <div class="thumbnails">
          <div class="slider">
            <div class="indicator"></div>
          </div>
          <label for="image1" class="thumb"
          style="background-image: url('../../../assets/images/ourstores-image/2-1.jpg')"></label>
          <label for="image2" class="thumb"
            style="background-image: url('../../../assets/images/ourstores-image/2-2.jpg')"></label>
          <label for="image3" class="thumb"
            style="background-image: url('../../../assets/images/ourstores-image/2-3.jpg')"></label>
          <label for="image4" class="thumb"
            style="background-image: url('../../../assets/images/ourstores-image/2-4.jpg')"></label>
        </div>
      </div>
    </section>
  </mat-dialog-content> -->
  <mat-dialog-actions>
    <button mat-button matDialogClose color="primary">İptal</button>
  </mat-dialog-actions>
</ng-template>
<ng-template #atasehir1>
  <h2 class="text-center" matDialogTitle>Ataşehir Yıldız Kuyumculuk (ATAŞEHİR)</h2>
  <hr>

  <div class="contact-card">
    <div class="title text-center">İletişim </div>
    <a href="tel:+902165742604" class="link">Telefon: 0 216 574 26 04</a>
    <!-- <a href="tel:+90532 314 89 98" class="link">Telefon: 0532 314 89 98</a> -->
    <!-- <a class="link">Açık Adres Kayışdağı Cad. No:75/A
      Küçükbakkalköy-Ataşehir/İST</a> -->
  </div>
  <mat-dialog-content>
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d188.2569165934338!2d29.11344261165246!3d40.979057514564644!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14cac63ef07e2f43%3A0x1ece6984b8087aae!2sAsyildiz%20Doviz%20Ve%20Altin!5e0!3m2!1str!2str!4v1660380285574!5m2!1str!2str"
      style="width:100% ;" height="300"></iframe><br> <br>
    <section class="gallery">
      <div class="carousel">
        <input type="radio" id="image1" name="gallery-control" checked>
        <input type="radio" id="image2" name="gallery-control">
        <input type="radio" id="image3" name="gallery-control">
        <input type="radio" id="image4" name="gallery-control">
        <input type="checkbox" id="fullscreen" name="gallery-fullscreen-control" />
        <div class="wrap">
          <figure>
            <label for="fullscreen">
              <img src="../../../assets/images/ourstores-image/6-7.jpg" alt="image1" />
            </label>
          </figure>
          <figure>
            <label for="fullscreen">
              <img src="../../../assets/images/ourstores-image/6-1.jpg" alt="image2" />
            </label>
          </figure>
          <figure>
            <label for="fullscreen">
              <img src="../../../assets/images/ourstores-image/6-2.jpg" alt="image3" />
            </label>
          </figure>
          <figure>
            <label for="fullscreen">
              <img src="../../../assets/images/ourstores-image/6-3.jpg" alt="image4" />
            </label>
          </figure>
        </div>
        <div class="thumbnails">
          <div class="slider">
            <div class="indicator"></div>
          </div>
          <label for="image1" class="thumb"
            style="background-image: url('../../../assets/images/ourstores-image/6-7.jpg')"></label>
          <label for="image2" class="thumb"
            style="background-image: url('../../../assets/images/ourstores-image/6-1.jpg')"></label>
          <label for="image3" class="thumb"
            style="background-image: url('../../../assets/images/ourstores-image/6-2.jpg')"></label>
          <label for="image4" class="thumb"
            style="background-image: url('../../../assets/images/ourstores-image/6-3.jpg')"></label>
        </div>
      </div>
    </section>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-button matDialogClose color="primary">İptal</button>
  </mat-dialog-actions>
</ng-template>
<!-- <div class="container">
  <div class="carousel">
    <div id="atasehir" (click)="openDialogWithTemplateRef(myDialog)" class="item">
      <div>
        <h3>Asyıldız Yekili Müessese A.Ş. <span style="color: gold;">(ATAŞEHİR)</span> </h3>
      </div>
    </div>
    <div id="viaport" (click)="openDialogWithTemplateRef(viaport)" class="item">
      <div>
        <h3>Asyıldız Yetkili Müessese A.Ş. <span style="color: gold; font-size: 15px;">(VIAPORT AVM.) </span> </h3>
      </div>
    </div>
    <div id="metropol" (click)="openDialogWithTemplateRef(metropol)" class="item">
      <div>
        <h3>Asyıldız Yetkili Müessese A.Ş. <span style="color: gold; font-size: 14px;">(METROPOL AVM.) </span> </h3>
      </div>
    </div>
    <div id="buyka" (click)="openDialogWithTemplateRef(buyka)" class="item">
      <div>
        <h4>Özbıyık Sınırlı Yetkili Müessese A.Ş <span style="color: gold; font-size: 14px;"> (BUYAKA AVM.) </span>
        </h4>
      </div>
    </div>
    <div id="brandium" (click)="openDialogWithTemplateRef(brandium)" class="item">
      <div>
        <h4>Asyıldız Mücevherat Tic. Ltd. Şti. <span style="color: gold; font-size: 14px;"> (BRANDİUM AVM.)</span> </h4>
      </div>
    </div>
    <div id="kocak" (click)="openDialogWithTemplateRef(kocak)" class="item">
      <div>
        <h3>KOÇAK GOLD <span style="color: gold; font-size: 14px;"> (BUYAKA AVM.)</span> </h3>
      </div>
    </div>
    <div id="atasehir-1" (click)="openDialogWithTemplateRef(atasehir1)" class="item">
      <div>
        <h3>Ataşehir Yıldız Kuyumculuk <span style="color: gold; font-size: 15px;"> (ATAŞEHİR)</span> </h3>
      </div>
    </div>
  </div>
</div> -->



<div class="hero mask-polygon-1">
  <div class="hero__caption">
    <h2>Tüm İstanbula<br> <br><strong>İştiraklerimiz</strong> İle <strong>En İyi Hizmeti Vermekteyiz </strong> </h2>
  </div>
</div>

<section id="section-a"><br><br>
  <h1 class="section-header">İştiraklerimiz</h1>

  <ul class="product-category-list">
    <li class="product-category" id="product-category1" (click)="openDialogWithTemplateRef(myDialog)">
      <div class="product-category-image">
        <a><img src="../../../assets/images/ourstores-image/1.jpg" height="320" alt="1"></a>
      </div>
      <div class="product-category-text">
        <strong>ASYILDIZ YETKİLİ MÜESSESE A.Ş. (ATAŞEHİR - MERKEZ)</strong>
      </div>
    </li>

    <li class="product-category" id="product-category2" (click)="openDialogWithTemplateRef(viaport)">
      <div class="product-category-image">
        <a><img src="../../../assets/images/ourstores-image/2.jpg" height="320" alt="2"></a>
      </div>
      <div class="product-category-text">
        <strong>Asyıldız Yetkili Müessese A.Ş. (VIAPORT AVM.)</strong>
      </div>
    </li>
    <li class="product-category" id="product-category2" (click)="openDialogWithTemplateRef(metropol)">
      <div class="product-category-image">
        <a><img src="../../../assets/images/ourstores-image/3.jpg" height="320" alt="2"></a>
      </div>
      <div class="product-category-text">
        <strong>Asyıldız Yetkili Müessese A.Ş. (METROPOL AVM.) </strong>
      </div>
    </li>
    <li class="product-category" id="product-category2" (click)="openDialogWithTemplateRef(buyka)">
      <div class="product-category-image">
        <a><img src="../../../assets/images/ourstores-image/4.png" height="320" alt="2"></a>
      </div>
      <div class="product-category-text">
        <strong>Özbıyık Sınırlı Yetkili Müessese A.Ş (BUYAKA AVM.)
        </strong>
      </div>
    </li>
    <li class="product-category" id="product-category2" (click)="openDialogWithTemplateRef(brandium)">
      <div class="product-category-image">
        <a><img src="../../../assets/images/ourstores-image/5.jpg" height="320" alt="2"></a>
      </div>
      <div class="product-category-text">
        <strong>Asyıldız Mücevherat Tic. Ltd. Şti. (BRANDİUM AVM.)</strong>
      </div>
    </li>
    <li class="product-category" id="product-category2" (click)="openDialogWithTemplateRef(kocak)">
      <div class="product-category-image">
        <a><img src="../../../assets/images/ourstores-image/6.jpg" height="320" alt="2"></a>
      </div>
      <div class="product-category-text">
        <strong>KOÇAK GOLD (BUYAKA AVM.)</strong>
      </div>
    </li>
    <li class="product-category" id="product-category2" (click)="openDialogWithTemplateRef(atasehir1)">
      <div class="product-category-image">
        <a><img src="../../../assets/images/ourstores-image/6.jpg" height="320" alt="2"></a>
      </div>
      <div class="product-category-text">
        <strong>Ataşehir Yıldız Kuyumculuk (ATAŞEHİR)</strong>
      </div>
    </li>
  </ul>
</section>

<div  id="section-c" >
<div style="background-color: rgba(0, 0, 0, 0.807); width:100%; height: 100%;">
  <span style="position: relative; top: 50%; color: white;">
<h1 style="font-size: 50px; margin-top: 1em;">Bizi En İyi Yapan Sizlerin Tercihi...</h1>
  </span>
</div>

</div>



<section id="section-d"></section>
