<section id="top">
  <div id="menubar">
    <div>
      <div data-cu="/default.aspx" data-u="/" class="active"><span>Serbest Piyasalar</span></div>
      <div><a href="#">Altın &amp; Sarrafiye</a></div>
      <div><a href="#">Döviz</a></div>
      <div><a href="#">Parite</a></div>
      <div><a href="#">Kriptolar</a></div>
      <div><a href="#">Borsa</a></div>
    </div>
  </div>
  <!--
  <div id="topslider">
    <div class="o">
      <div class="ib">
        <div class="top10" id="horder">
          <div data-dc="XAUUSD" data-g="altin" class="dcbox up">
            <div class="ind"><span data-f="C">0.46</span></div>
            <div class="dc">
              <img src="../../../../assets/images/home-image/none.png" title="Altın Ons">
              <span>XAU/USD</span>
            </div>
            <div class="float">
              <span data-f="L" class="up">1.708,81</span>
            </div>
            <div style="display: none">
              <span data-f="B" class="">1.738,50</span>
              <span data-f="S" class="">1.744,10</span>
            </div>
          </div>
          <div data-dc="GUMTRY" data-g="altin" class="dcbox up">
            <div class="ind"><span data-f="C">0.36</span></div>
            <div class="dc">
              <img src="../../../../assets/images/home-image/none.png" title="Gümüş Gram/TRY">
              <span>GUM/TRY</span>
            </div>
            <div class="float">
              <span data-f="L" class="down">10,4960</span>
            </div>
            <div style="display: none">
              <span data-f="B" class="">10,5490</span>
              <span data-f="S" class="">10,9396</span>
            </div>
          </div>
          <div data-dc="GBPTRY" data-g="doviz/serbest-piyasa" class="dcbox up">
            <div class="ind"><span data-f="C">0.18</span></div>
            <div class="dc">
              <img src="../../../../assets/images/home-image/none.png" title="İngiliz Sterlini">
              <span>GBP/TRY</span>
            </div>
            <div class="float">
              <span data-f="L" class="up">20,9158</span>
            </div>
            <div style="display: none">
              <span data-f="B" class="">20,7680</span>
              <span data-f="S" class="">20,9365</span>
            </div>
          </div>
          <div data-dc="SEKTRY" data-g="doviz/serbest-piyasa" class="dcbox up">
            <div class="ind"><span data-f="C">0.17</span></div>
            <div class="dc">
              <img src="../../../../assets/images/home-image/none.png" title="İsveç Kronu">
              <span>SEK/TRY</span>
            </div>
            <div class="float">
              <span data-f="L" class="">1,6822</span>
            </div>
            <div style="display: none">
              <span data-f="B" class="">1,6619</span>
              <span data-f="S" class="">1,6776</span>
            </div>
          </div>
          <div data-dc="AUDTRY" data-g="doviz/serbest-piyasa" class="dcbox up">
            <div class="ind"><span data-f="C">0.17</span></div>
            <div class="dc">
              <img src="../../../../assets/images/home-image/none.png" title="Avustralya Doları">
              <span>AUD/TRY</span>
            </div>
            <div class="float">
              <span data-f="L" class="up">11,9178</span>
            </div>
            <div style="display: none">
              <span data-f="B" class="">11,7199</span>
              <span data-f="S" class="">11,8884</span>
            </div>
          </div>
          <div data-dc="NOKTRY" data-g="doviz/serbest-piyasa" class="dcbox up">
            <div class="ind"><span data-f="C">0.16</span></div>
            <div class="dc">
              <img src="../../../../assets/images/home-image/none.png" title="Norveç Kronu">
              <span>NOK/TRY</span>
            </div>
            <div class="float">
              <span data-f="L" class="">1,7328</span>
            </div>
            <div style="display: none">
              <span data-f="B" class="">1,7135</span>
              <span data-f="S" class="">1,7295</span>
            </div>
          </div>
          <div data-dc="CADTRY" data-g="doviz/serbest-piyasa" class="dcbox up">
            <div class="ind"><span data-f="C">0.16</span></div>
            <div class="dc">
              <img src="../../../../assets/images/home-image/none.png" title="Kanada Doları">
              <span>CAD/TRY</span>
            </div>
            <div class="float">
              <span data-f="L" class="">13,4792</span>
            </div>
            <div style="display: none">
              <span data-f="B" class="">13,3486</span>
              <span data-f="S" class="">13,4866</span>
            </div>
          </div>
          <div data-dc="DKKTRY" data-g="doviz/serbest-piyasa" class="dcbox up">
            <div class="ind"><span data-f="C">0.06</span></div>
            <div class="dc">
              <img src="../../../../assets/images/home-image//none.png" title="Danimarka Kronu">
              <span>DKK/TRY</span>
            </div>
            <div class="float">
              <span data-f="L" class="">2,3838</span>
            </div>
            <div style="display: none">
              <span data-f="B" class="">2,3493</span>
              <span data-f="S" class="">2,3741</span>
            </div>
          </div>
          <div data-dc="JPYTRY" data-g="doviz/serbest-piyasa" class="dcbox up">
            <div class="ind"><span data-f="C">0.05</span></div>
            <div class="dc">
              <img src="../../../../assets/images/home-image/none.png" title="Japon Yeni">
              <span>JPY/TRY</span>
            </div>
            <div class="float">
              <span data-f="L" class="">12,6635</span>
            </div>
            <div style="display: none">
              <span data-f="B" class="">0,1255</span>
              <span data-f="S" class="">0,1266</span>
            </div>
          </div>
        </div>
        <div class="top10" id="lorder">
          <div data-dc="USDTRY" data-g="doviz/serbest-piyasa" class="dcbox down">
            <div class="ind"><span data-f="C">-0.38</span></div>
            <div class="dc">
              <img src="../../../../assets/images/home-image/none.png" title="Amerikan Doları">
              <span>USD/TRY</span>
            </div>
            <div class="float">
              <span data-f="L" class="">17,4900</span>
            </div>
            <div style="display: none">
              <span data-f="B" class="">17,4276</span>
              <span data-f="S" class="">17,5311</span>
            </div>
          </div>
          <div data-dc="EURTRY" data-g="doviz/serbest-piyasa" class="dcbox down">
            <div class="ind"><span data-f="C">-0.28</span></div>
            <div class="dc">
              <img src="../../../../assets/images/home-image/none.png" title="Euro">
              <span>EUR/TRY</span>
            </div>
            <div class="float">
              <span data-f="L" class="">17,7600</span>
            </div>
            <div style="display: none">
              <span data-f="B" class="">17,6543</span>
              <span data-f="S" class="">17,7799</span>
            </div>
          </div>
          <div data-dc="RUBTRY" data-g="doviz/serbest-piyasa" class="dcbox down">
            <div class="ind"><span data-f="C">-0.09</span></div>
            <div class="dc">
              <img src="../../../../assets/images/home-image/none.png" title="Rus Rublesi">
              <span>RUB/TRY</span>
            </div>
            <div class="float">
              <span data-f="L" class="">0,3105</span>
            </div>
            <div style="display: none">
              <span data-f="B" class="">0,2236</span>
              <span data-f="S" class="">0,2816</span>
            </div>
          </div>
          <div data-dc="SARTRY" data-g="doviz/serbest-piyasa" class="dcbox down">
            <div class="ind"><span data-f="C">-0.08</span></div>
            <div class="dc">
              <img src="../../../../assets/images/home-image/none.png" title="S.Arabistan Riyali">
              <span>SAR/TRY</span>
            </div>
            <div class="float">
              <span data-f="L" class="">4,6594</span>
            </div>
            <div style="display: none">
              <span data-f="B" class="">4,6227</span>
              <span data-f="S" class="">4,6588</span>
            </div>
          </div>
          <div data-dc="CHFTRY" data-g="doviz/serbest-piyasa" class="dcbox down">
            <div class="ind"><span data-f="C">-0.05</span></div>
            <div class="dc">
              <img src="../../../../assets/images/home-image/none.png" title="İsviçre Frengı">
              <span>CHF/TRY</span>
            </div>
            <div class="float">
              <span data-f="L" class="down">17,8958</span>
            </div>
            <div style="display: none">
              <span data-f="B" class="">17,7726</span>
              <span data-f="S" class="">17,9205</span>
            </div>
          </div>
        </div>
      </div>
      <div class="ib cte">
        <a class="ld_ad" id="ld_wrapper" href="https://canliveri.hakanaltin.com/"><img  title="  Altın Canlı Piyasa Takibi Ekranı" src="../../../../assets/images/home-image/ld_w_pre.gif"></a>
      </div>
      <div class="ib ctedesc">
        <span><strong>Hakan Altın</strong> Canlı Takip Ekranımızı ücretsiz üyelik oluşturarak hemen
          kullanmaya başlayabilirsiniz.
        </span>
        <div style="margin-top: 12px;">
          <a class="button" href="https://canliveri.hakanaltin.com/uyelik">Üye ol</a>
          <a class="button" href="https://canliveri.hakanaltin.com/giris">Giriş yap</a>
        </div>
      </div>
    </div>
  </div> -->
</section>
