<!-- <nav role='navigation'>
  <ul class="main">
    <li class="dashboard"><a href="admindashboard">Dashboard</a></li>
    <li class="edit"><a href="#">Edit Website</a></li>
    <li class="write"><a href="#">Write news</a></li>
    <li class="comments"><a href="#">Ads</a></li>
    <li class="users"><a href="#">Manage Users</a></li>
  </ul>
</nav> -->

<div class="side-menu">
  <div class="logo">
    ÇPP
  </div>
  <div class="menu">
    <ul>
      <li><a href="#"><i class="fa fa-server" aria-hidden="true"></i><span class="text"> Projects </span></a>
         <ul class="dropdown">
            <li><a href="#"><i class="fa fa-bar-chart" aria-hidden="true"></i><span class="text"> Growth</span></a></li>
            <li><a href="#"><i class="fa fa-arrows-alt" aria-hidden="true"></i><span class="text"> Operations</span></a></li>
            <li><a href="#"><i class="fa fa-desktop" aria-hidden="true"></i><span class="text"> Website</span></a></li>
            <li><a href="#"><i class="fa fa-calendar" aria-hidden="true"></i><span class="text"> Wedding</span></a></li>
            <li><a href="#"><i class="fa fa-mobile" aria-hidden="true"></i><span class="text"> iPhone</span></a></li>
        </ul>
      </li>
    </ul>
  </div>
</div>
