<div class="info">
  <div class="info-pic-box">
    <img src="../../../../assets/images/home-image/logo.svg" class="info-pic" alt="">
    <span class="info-title">ASYILDIZ YETKİLİ <span class="info-title-part">MÜESSESE A.Ş</span>   </span>
  </div>
  <span class="info-context">Kayışdağı Cad. No:75/A Küçükbakkalköy/Ataşehir/İST.</span>
<div class="info-phone-icons-box">
  <span class="info-contact-title">İLETİŞİM</span> <br>
  <span> <img src="../../../../assets/icon/phone-icon.png" alt="Iletisim Icon"><a href="tel:+90532 314 89 98">0532 314 89 98</a>   </span> <br>
  <span> <img src="../../../../assets/icon/phone-icon.png" alt="Iletisim Icon"><a href="tel:+90216 574 44 00 ">0216 574 44 00 (pbx)</a>   </span>

</div>


</div>


<iframe src="https://www.google.com/maps/d/embed?mid=1XtfK9xsDVMM9njx1NG0XA-_TKX8&hl=tr"
  style="height: 100vh; width: 100%;"></iframe>
