.up{
  background-color:green;
  color: rgb(255, 255, 255);
}
.down{
  background-color:rgb(180, 0, 0);
  color: rgb(255, 255, 255);
}



.stabil{
  background-color:rgb(253, 211, 122);
  color: rgb(255, 255, 255);
}
