<main role="main"></main>


    <div class="wrapper">
      <app-navigation></app-navigation>

      <div class="main-content">
        <app-topnavbar></app-topnavbar>

        <div class="main-section">
          <div class="section-title">test</div>
          <div class="card">
            <div class="status-green"></div>
            <div class="card-content">
              test test test
            </div>
            <div class="author"><i class="fa fa-user-circle-o" aria-hidden="true"></i></div>
          </div>
          <div class="card">
            <div class="status-blue"></div>
            <div class="card-content">
              test test test test test test
            </div>
            <div class="author"><i class="fa fa-user-circle-o" aria-hidden="true"></i></div>
          </div>
            <div class="card">
            <div class="status-red"></div>
            <div class="card-content">
              test test test test test test
            </div>
            <div class="author"><i class="fa fa-user-circle-o" aria-hidden="true"></i></div>
          </div>
        </div>
      </div>
    </div>
