<div id="content" style="height: unset; padding-bottom: 114px;">
  <div class="o">
    <div class="content c">
      <div class="fxdouble ib" id="fxdouble_main" property="mainEntity" typeof="ItemList">
        <div class="ib">
          <div class="options">
            <span property="name">Pariteler (Euro ve GBP)</span>
            <br><br>
          </div>
          <table class="market ib foldable" id="fxdouble_main_t1" style="width: 40em;">
            <thead>
              <tr>
                <th> <span style="position: relative; right:2em;">Sembol</span> </th>
                <th> <span style="position: relative; right:8em;">Alış</span> </th>
                <th> <span style="position: relative; right:10em;">Satış</span> </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let data of goldList;" (click)="toggle(data)">
                <td style="text-align: left;  width: 2em;">
                  <span class="doviz"> {{data.Code}} </span>
                  <div class="dcdesc">{{data.Code}} </div>
                </td>
                <td class="float" property="currentExchangeRate" typeof="UnitPriceSpecification"
                  style="text-align: left; width: 0.5em;">
                  <span [ngClass]="{'up': data.askPercentChange >0,
                    'down': data.askPercentChange <0}"
                    style="width:5em; position: relative; right: 2em; text-align: center;"> {{data.Ask |  number:
                      '1.2-2' }}
                  </span>
                </td>

                <td class="float" style="text-align: left; width: 1em;">
                  <span data-f="S" [ngClass]="{'up': data.askPercentChange >0,'down': data.askPercentChange <0}"
                    style="width:5em; position: relative; right:6em; text-align: center;">{{data.Ask }} </span>

                  <div style="position: absolute; left: 80%;">
                    <div style="position:relative; bottom:2em;">
                      <div> {{data.askPercentChange}} % </div>
                    </div>
                    <div style="position:relative; bottom:2.5em;">
                      <span *ngIf="data.askPercentChange == 0 "><i class="material-icons"
                          style="color:rgb(203, 156, 68)">remove</i></span>
                      <span *ngIf="data.askPercentChange < 0"><i class="material-icons"
                          style="color:rgb(210, 89, 89);">arrow_drop_down</i></span>
                      <span *ngIf="data.askPercentChange > 0"><i class="material-icons"
                          style="color:rgb(40, 165, 40)">arrow_drop_up</i></span>
                    </div>
                  </div>
                </td>
              </tr>
            </tbody>

          </table>

        </div>
        <div class="ib">
          <div class="options">
            <span property="name">Pariteler (Dolar)</span>
            <div>
              <br><br>
            </div>
          </div>
          <table class="market ib foldable" id="fxdouble_main_t2" style="width: 40em;">
            <thead>
              <tr>
                <th> <span style="position: relative; right:6em;">Sembol</span> </th>
                <th> <span style="position: relative; right:8em;">Alış</span> </th>
                <th> <span style="position: relative; right:12em;">Satış</span> </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let data of kriptoList;" (click)="toggle(data)">
                <td style="text-align: left;  width: 2em;">
                  <span class="doviz"> {{data.Code}} </span>
                  <div class="dcdesc">{{data.Code}} </div>
                </td>
                <td class="float" property="currentExchangeRate" typeof="UnitPriceSpecification"
                  style="text-align: left; width: 0.5em;">
                  <span [ngClass]="{'up': data.askPercentChange >0,
                    'down': data.askPercentChange <0}"
                    style="width:5em; position: relative; right: 2em; text-align: center;"> {{data.Ask |  number:
                      '1.2-2' }}
                  </span>
                </td>

                <td class="float" style="text-align: left; width: 1em;">
                  <span data-f="S" [ngClass]="{'up': data.askPercentChange >0,'down': data.askPercentChange <0}"
                    style="width:5em; position: relative; right:6em; text-align: center;">{{data.Ask }} </span>

                  <div style="position: absolute; left: 80%;">
                    <div style="position:relative; bottom:2em;">
                      <div> {{data.askPercentChange}} % </div>
                    </div>
                    <div style="position:relative; bottom:2.5em;">
                      <span *ngIf="data.askPercentChange == 0 "><i class="material-icons"
                          style="color:rgb(203, 156, 68)">remove</i></span>
                      <span *ngIf="data.askPercentChange < 0"><i class="material-icons"
                          style="color:rgb(210, 89, 89);">arrow_drop_down</i></span>
                      <span *ngIf="data.askPercentChange > 0"><i class="material-icons"
                          style="color:rgb(40, 165, 40)">arrow_drop_up</i></span>
                    </div>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>

        </div>

        <div class="graph" id="tradingview_cea7f_1" style="width:99.6%;height:550px; color:white;"
          data-label="Fiyat Grafikleri">
          <iframe [src]="url | safe"></iframe>
          <iframe *ngIf="url === '' "
            src="https://s.tradingview.com/widgetembed/?frameElementId=tradingview_34628&symbol=USDTRY&interval=1&symboledit=0&saveimage=0&toolbarbg=f1f3f6&studies=%5B%5D&theme=dark&style=2&timezone=Europe%2FIstanbul&studies_overrides=%7B%7D&overrides=%7B%7D&enabled_features=%5B%5D&disabled_features=%5B%5D&locale=tr"></iframe>
        </div>
      </div>
    </div>
  </div>
  <br>
</div>
