<header>

  <meta property="name" content="As Yıldız Döviz">
  <div id="hw" class="o">
    <div id="tac">
    </div>
    <a href="" class="logo" title="As Yıldız Döviz Anasayfa" property="url">
      <img src="../../assets/images/home-image/logo.svg" alt="As Yıldız Döviz" property="logo">
      <div>
        <h1>ASYILDIZ</h1>
        <h2>YETKİLİ MÜESSESE A.Ş</h2>
      </div>
    </a>
    <div class="tt">
      <a href="tel:0216 574 44 00"><i class="fas fa-headphones-alt"></i><span> 216 574 44 00</span></a>
    </div>

    <div id="topmenu">
      <a class="toplink" routerLink="/stores">
        <img src="../../.././../assets/icon/black-tie.png" class="image-icons"
          alt="Kurumsal Icon"><span>Mağzalarımız</span>
      </a>
      <a class="toplink" routerLink="/contact">
        <img src="../../../../assets/icon/phone-icon.png" class="image-icons" alt="Iletisim Icon"><span>İletişim</span>
      </a>
      <div id="tac">
        <span id="clock">
          {{now | date:'hh:mm:ss'}}
        </span>
      </div>
    </div>
  </div>
</header>
<section id="top">
  <div id="menubar">
    <div class="o">
      <!-- <div class="active"><span>Serbest Piyasalar</span></div> -->
      <div ><a routerLink="/">Serbest Piyasalar</a></div>
      <div ><a routerLink="/gold">Altın &amp; Sarrafiye</a></div>
      <div ><a routerLink="/currency">Döviz</a></div>
      <div ><a routerLink="/parity">Parite</a></div>
    </div>
  </div>
</section>
