<header vocab="https://schema.org/" typeof="Organization">
  <meta property="name" content="Hakan Altın">
  <div id="hw" class="o" style="    white-space: nowrap;">
    <div id="tac">
      <!-- <div><input type="checkbox" id="dms" onchange="switchdm(this);" class="dmswitch"><label for="dms"></label></div> -->
      <span id="clock">{{date | date:'dd MM yyyy'}}</span>
    </div><a href="https://www.hakanaltin.com/" title="Hakan Altın Anasayfa" property="url" class="logo"><img
        src="../../../../assets/images/home-image/logo.svg" alt="Hakan Altın" property="logo">
      <div>
        <h1>MUNUR DOVİZ</h1>
        <h2>Kıymetli Madenler</h2>
      </div>
    </a>
    <div class="tt"><a href="tel:+90 (212) 603 24 32"><i class="fas fa-headphones-alt"></i><span>(212) 603 24
          32</span></a></div>
    <div id="topmenu"><a href="http://aifasoft.com/iletisim" target="_blank" class="toplink">
        <span>Kurumsal</span></a><a href="http://aifasoft.com/iletisim" target="_blank" class="toplink"><i
          class="fas fa-phone-square-alt"></i><span>İletişim</span></a>
    </div>
  </div>
</header>
