<!-- <header vocab="https://schema.org/" typeof="Organization">
  <meta property="name" content="Hakan Altın">
  <div id="hw" class="o" style="    white-space: nowrap;">
    <div id="tac">
      <span id="clock">{{date | date:'dd MM yyyy'}}</span>
    </div><a href="https://www.hakanaltin.com/" title="Hakan Altın Anasayfa" property="url" class="logo"><img
        src="../../../../assets/images/home-image/logo.svg" alt="Hakan Altın" property="logo">
      <div>
        <h1>MUNUR DOVİZ</h1>
        <h2>Kıymetli Madenler</h2>
      </div>
    </a>
    <div class="tt"><a href="tel:+90 (212) 603 24 32"><i class="fas fa-headphones-alt"></i><span>(212) 603 24
          32</span></a></div>
    <div id="topmenu"><a href="http://aifasoft.com/iletisim" target="_blank" class="toplink">
        <span>Kurumsal</span></a><a href="http://aifasoft.com/iletisim" target="_blank" class="toplink"><i
          class="fas fa-phone-square-alt"></i><span>İletişim</span></a>
    </div>
  </div>
</header> -->
<header vocab="https://schema.org/" typeof="Organization">

  <meta property="name" content="Hakan Altın">

  <div id="hw" class="o">

    <div id="tac">

      <!-- <div>
        <input type="checkbox" id="dms" class="dmswitch" onchange="switchdm(this);">
        <label for="dms"></label>
      </div>

      <span id="clock">09:19:52</span> -->

    </div>


    <a href="#" class="logo" title="Hakan Altın Anasayfa" property="url">
      <img src="../../../../assets/images/home-image/logo.svg" alt="Hakan Altın" property="logo">
      <!--<img src="/images/hakan.png" style="width: 297px; height: 40px; filter: none; margin: 0; padding: 0; display: inline-block; vertical-align: top; margin-top: 14px;" />-->
      <div>
        <h1>MÜNÜR DOVİZ</h1>
        <h2>Kıymetli Madenler</h2>
      </div>
    </a>

    <div class="tt">
      <a href="tel:444 75 11"><i class="fas fa-headphones-alt"></i><span>444 75 11</span></a>
    </div>

    <div id="topmenu">

      <a class="toplink" href="#kurumsal">
        <i class="fab fa-black-tie"></i><span>Kurumsal</span>
      </a>
      <a class="toplink" href="#iletisim">
        <i class="fas fa-phone-square-alt"></i><span>İletişim</span>
      </a>

    </div>

  </div>




</header>
<section id="top" class="default.aspx">

  <div id="topslider">

    <div class="o">

      <div class="ib">

        <div class="top10" id="horder">

          <div data-dc="RUBTRY" data-g="doviz/serbest-piyasa" class="dcbox up">
            <div class="ind"><span data-f="C">0.09</span></div>
            <div class="dc">
              <img src="./Hakan Altın_files/none.png" title="Rus Rublesi">
              <span>RUB/TRY</span>
            </div>
            <div class="float">

              <span data-f="L" class="">0,3026</span>
            </div>
            <div style="display: none">
              <span data-f="B" class="">0,2400</span>
              <span data-f="S" class="">0,2975</span>
            </div>
          </div>

          <div data-dc="SARTRY" data-g="doviz/serbest-piyasa" class="dcbox up">
            <div class="ind"><span data-f="C">0.03</span></div>
            <div class="dc">
              <img src="./Hakan Altın_files/none.png" title="S.Arabistan Riyali">
              <span>SAR/TRY</span>
            </div>
            <div class="float">

              <span data-f="L" class="">4,8568</span>
            </div>
            <div style="display: none">
              <span data-f="B" class="">4,8227</span>
              <span data-f="S" class="">4,8424</span>
            </div>
          </div>

        </div>

        <div class="top10" id="lorder">

          <div data-dc="GUMTRY" data-g="altin" class="dcbox down">
            <div class="ind"><span data-f="C">-1.35</span></div>
            <div class="dc">
              <img src="./Hakan Altın_files/none.png" title="Gümüş Gram/TRY">
              <span>GUM/TRY</span>
            </div>
            <div class="float">
              <span data-f="L" class="">10,4942</span>
            </div>
            <div style="display: none">
              <span data-f="B" class="">10,6318</span>
              <span data-f="S" class="">10,9006</span>
            </div>
          </div>

          <div data-dc="NOKTRY" data-g="doviz/serbest-piyasa" class="dcbox down">
            <div class="ind"><span data-f="C">-0.54</span></div>
            <div class="dc">
              <img src="./Hakan Altın_files/none.png" title="Norveç Kronu">
              <span>NOK/TRY</span>
            </div>
            <div class="float">
              <span data-f="L" class="">1,8177</span>
            </div>
            <div style="display: none">
              <span data-f="B" class="">1,7981</span>
              <span data-f="S" class="">1,8085</span>
            </div>
          </div>

          <div data-dc="XAUUSD" data-g="altin" class="dcbox down">
            <div class="ind"><span data-f="C">-0.43</span></div>
            <div class="dc">
              <img src="./Hakan Altın_files/none.png" title="Altın Ons">
              <span>XAU/USD</span>
            </div>
            <div class="float">
              <span data-f="L" class="up">1.701,32</span>
            </div>
            <div style="display: none">
              <span data-f="B" class="">1.714,60</span>
              <span data-f="S" class="">1.719,48</span>
            </div>
          </div>

          <div data-dc="SEKTRY" data-g="doviz/serbest-piyasa" class="dcbox down">
            <div class="ind"><span data-f="C">-0.27</span></div>
            <div class="dc">
              <img src="./Hakan Altın_files/none.png" title="İsveç Kronu">
              <span>SEK/TRY</span>
            </div>
            <div class="float">
              <span data-f="L" class="up">1,6932</span>
            </div>
            <div style="display: none">
              <span data-f="B" class="">1,6761</span>
              <span data-f="S" class="">1,6853</span>
            </div>
          </div>

          <div data-dc="DKKTRY" data-g="doviz/serbest-piyasa" class="dcbox down">
            <div class="ind"><span data-f="C">-0.26</span></div>
            <div class="dc">
              <img src="./Hakan Altın_files/none.png" title="Danimarka Kronu">
              <span>DKK/TRY</span>
            </div>
            <div class="float">
              <span data-f="L" class="">2,4474</span>
            </div>
            <div style="display: none">
              <span data-f="B" class="">2,4144</span>
              <span data-f="S" class="">2,4322</span>
            </div>
          </div>

          <div data-dc="GBPTRY" data-g="doviz/serbest-piyasa" class="dcbox down">
            <div class="ind"><span data-f="C">-0.26</span></div>
            <div class="dc">
              <img src="./Hakan Altın_files/none.png" title="İngiliz Sterlini">
              <span>GBP/TRY</span>
            </div>
            <div class="float">
              <span data-f="L" class="">21,0691</span>
            </div>
            <div style="display: none">
              <span data-f="B" class="">20,9491</span>
              <span data-f="S" class="">21,0478</span>
            </div>
          </div>

          <div data-dc="JPYTRY" data-g="doviz/serbest-piyasa" class="dcbox down">
            <div class="ind"><span data-f="C">-0.24</span></div>
            <div class="dc">
              <img src="./Hakan Altın_files/none.png" title="Japon Yeni">
              <span>JPY/TRY</span>
            </div>
            <div class="float">
              <span data-f="L" class="">13,0081</span>
            </div>
            <div style="display: none">
              <span data-f="B" class="">0,1291</span>
              <span data-f="S" class="">0,1297</span>
            </div>
          </div>

          <div data-dc="EURTRY" data-g="doviz/serbest-piyasa" class="dcbox down">
            <div class="ind"><span data-f="C">-0.22</span></div>
            <div class="dc">
              <img src="./Hakan Altın_files/none.png" title="Euro">
              <span>EUR/TRY</span>
            </div>
            <div class="float">
              <span data-f="L" class="">18,1400</span>
            </div>
            <div style="display: none">
              <span data-f="B" class="">18,1477</span>
              <span data-f="S" class="">18,1970</span>
            </div>
          </div>

          <div data-dc="AUDTRY" data-g="doviz/serbest-piyasa" class="dcbox down">
            <div class="ind"><span data-f="C">-0.20</span></div>
            <div class="dc">
              <img src="./Hakan Altın_files/none.png" title="Avustralya Doları">
              <span>AUD/TRY</span>
            </div>
            <div class="float">
              <span data-f="L" class="up">12,3911</span>
            </div>
            <div style="display: none">
              <span data-f="B" class="">12,2169</span>
              <span data-f="S" class="">12,3366</span>
            </div>
          </div>

          <div data-dc="CHFTRY" data-g="doviz/serbest-piyasa" class="dcbox down">
            <div class="ind"><span data-f="C">-0.14</span></div>
            <div class="dc">
              <img src="./Hakan Altın_files/none.png" title="İsviçre Frengı">
              <span>CHF/TRY</span>
            </div>
            <div class="float">
              <span data-f="L" class="down">18,6180</span>
            </div>
            <div style="display: none">
              <span data-f="B" class="">18,5144</span>
              <span data-f="S" class="">18,5941</span>
            </div>
          </div>

        </div>

      </div>

      <div class="ib cte">

        <a class="ld_ad" id="ld_wrapper" href="https://canliveri.hakanaltin.com/"><img
            title="Hakan Altın Canlı Piyasa Takibi Ekranı"
            src="../../../../assets/images/home-image/ld_w_pre.gif"></a>

      </div>

      <div class="ib ctedesc">
        <span><strong>Münür Altın Kıymetli Madenler</strong> Canlı Takip Ekranımızı ücretsiz üyelik oluşturarak hemen kullanmaya
          başlayabilirsiniz.
        </span>
        <div style="margin-top: 12px;">
          <a class="button" href="https://canliveri.hakanaltin.com/uyelik">Üye ol</a>
          <a class="button" href="https://canliveri.hakanaltin.com/giris">Giriş yap</a>
        </div>
      </div>

    </div>

  </div>



  <div id="menubar">
    <div class="o">
      <div data-cu="/default.aspx" data-u="/" class="active"><span>Serbest Piyasalar</span></div>
      <div><a>Altın &amp; Sarrafiye</a></div>
      <div><a>Döviz</a></div>
      <div><a>Parite</a></div>
      <div><a>Kriptolar</a></div>
      <div><a> Portföy</a></div>
    </div>
  </div>

</section>
