.image-icons{
  height: 16px;
  width: 22px;
  border-radius: 10%;
  margin-right: 0.5em;
  position: relative;
  top: 0.2em;
}
.footer-logo{
  position: relative;
  bottom: 1.5em;
  height: 100px;
  width:  100px;
}
li a{
  font-size: 1.1em;
}
.apps-market{
  float: right;
  position: relative;
  top: 1em;
  /* left: 2em; */
  right: 3em;
}
.apps-market a{
  margin-left: 1em;
}
