<footer>
  <div class="o footer">
    <div>
      <a href="" class="logo" title="As Yıldız Döviz" property="url">
        <img src="../../../../assets/images/home-image/logo-light.svg" alt="As Yıldız Döviz" class="footer-logo"
          property="logo">
        <div>
          <h1>ASYILDIZ</h1>
          <h2>YETKİLİ MÜESSESE A.Ş</h2>
        </div>
      </a>
    </div>
    <div class="fmenu">
      <div>
        <ul>
          <li> <img src="../../../../assets/icon/user-safe.png" class="image-icons" alt=""> <a href="#">KVK Bildirgesi</a></li>
          <li><img src="../../../../assets/icon/document-icon.png" class="image-icons" alt=""> <a href="#">Kullanıcı Sözleşmesi</a></li>
          <li><img src="../../../../assets/icon/user.png" class="image-icons" alt=""> <a href="#">İnsan Kaynakları</a></li>
        </ul>
      </div>
      <div>
        <ul>
          <li><img src="../../../../assets/icon/conpaney.png" class="image-icons" alt=""> <a routerLink="/stores">Mağazalarımız</a>  </li>
          <li><img src="../../../../assets/icon/lovyer.png" class="image-icons" alt=""> <a href="#">Uyum</a></li>
          <li><img src="../../../../assets/icon/phone-icon.png" class="image-icons" alt=""> <a routerLink="/contact">İletişim</a>
          </li>
        </ul>
      </div>
    </div>

    <div style="float: right;">
      <a href="https://apps.apple.com/tr/developer/fatih-sahin-aifa-soft/id1452636314?see-all=i-phonei-pad-apps">
        <img src="../../../../assets/images/home-image/Download_on_the_App_Store_Badge_TR_wht_RGB_100217.svg"
          title="Apple için mobil uygulamamız" style="width: 151px; height: 40px;"></a>
      <a href="#">
        <img src="../../../../assets/images/home-image/play-store.png"
          style="filter: invert(1); width: 134px; height: 40px;" title="Android için mobil uygulamamız"></a>
    </div>
  </div>
</footer>
